accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
beautifulsoup4
datasets
fake-useragent
fastapi
fastapi-cli
fastapi-cloud-cli
filelock
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
httpx
huggingface-hub
Jinja2
json5
jsonlines
litellm
lxml
matplotlib
mcp
modelscope
numpy
nvitop
openai
openpyxl
pandas
pdfplumber
pillow
protobuf
psutil
pytz
ray
referencing
regex
requests
scikit-learn
scipy
seaborn
sentence-transformers
tokenizers
tqdm
transformers
urllib3
vllm
